# Python科学运算1:初识Series与NumPy
## Pandas的Series数据类型
### 导入pandas包

In [3]:

import pandas as pd
df = pd.read_excel('data_excel.xlsx')
df

/Users/haoyuexu/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

   id  age  place
0   1   11     21
1   2   12     22
2   3   13     23
3   4   14     24
4   5   15     25
5   6   16     26
6   7   17     27
7   8   18     28
8   9   19     29
9  10   20     30

In [4]:
# 查询 df 的类型为 Dataframe
type(df)

pandas.core.frame.DataFrame

### 读取 ID 列的数据

In [5]:
df['id']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [6]:
# 查询 id 列的数据类型为 Series
type(df['id'])

pandas.core.series.Series

### 声明一个Series数据类型

In [7]:
obj = pd.Series([1,23,14,34,22,84])
obj

0     1
1    23
2    14
3    34
4    22
5    84
dtype: int64

### 单独获取索引和值

In [8]:
obj.values

array([ 1, 23, 14, 34, 22, 84])

In [9]:
obj.index

RangeIndex(start=0, stop=6, step=1)

### 自定义索引操作

In [11]:
df2 = pd.Series(['a','b','c','d'], index=[4,5,6,7])
df2

4    a
5    b
6    c
7    d
dtype: object

In [13]:
#通过索引获取值
df2[4]

'a'

### 声明Series的第二种方法

In [14]:
d = {'a':10000,'b':20000,'c':30000}
obj = pd.Series(d)
obj

a    10000
b    20000
c    30000
dtype: int64

#### 结论：我们可以把一个字典类型的数据，直接变成Series类型

In [17]:
# 根据自己的需求，取出字典对应的值进行Series数据类型的转换
keys = ['a','c']
obj2 = pd.Series(d,index = keys)
obj2

a    10000
c    30000
dtype: int64

### 发现缺失值

In [19]:
d = {'a':None,'b':20000,'c':30000}
obj = pd.Series(d)
obj

a        NaN
b    20000.0
c    30000.0
dtype: float64

In [20]:
obj.isnull()

a     True
b    False
c    False
dtype: bool

In [21]:
pd.isnull(obj)

a     True
b    False
c    False
dtype: bool

In [22]:
pd.notnull(obj)

a    False
b     True
c     True
dtype: bool

## 算数运算

In [31]:
d1 = pd.Series([1.3,1.5,2.6,-3.5],index = ['e','b','c','d'])
d1

e    1.3
b    1.5
c    2.6
d   -3.5
dtype: float64

In [32]:
d2 = pd.Series([-1.3,-1,-2.5,3.9,9.8],index = ['a','b','c','d','e'])
d2

a   -1.3
b   -1.0
c   -2.5
d    3.9
e    9.8
dtype: float64

### 两个series的加法

In [34]:
# 两个Series在进行运算的时候，不重叠的地方是空值，重叠的地方进行估算
d1+d2

a     NaN
b     0.5
c     0.1
d     0.4
e    11.1
dtype: float64

## pandas读取超大文件时分块操作
python 处理文件时，读取的是硬盘上的资源，而不需要把数据全部直接加载到内存中

In [37]:
# 以前的做法
df = pd.read_csv("executive.csv")
df

     name:ID sex  age  :LABEL
0        谢永林   男   50  people
1        胡跃飞   男   56  people
2         刘勇   男   49  people
3        朱季成   男   37  people
4        张丕杰   男   57  people
...      ...  ..  ...     ...
5645     朱新宏   男   58  people
5646      江津   女   55  people
5647     徐文苏   男   41  people
5648     刘志平   女   55  people
5649     林茂德   男   62  people

[5650 rows x 4 columns]

In [41]:
# nrows 参数的作用就是限制读取多少行
e = pd.read_csv("executive.csv", nrows = 120)
e

    name:ID sex  age  :LABEL
0       谢永林   男   50  people
1       胡跃飞   男   56  people
2        刘勇   男   49  people
3       朱季成   男   37  people
4       张丕杰   男   57  people
..      ...  ..  ...     ...
115     张新育   男   64  people
116     朱春林   男   58  people
117     邰正彪   男   54  people
118     邹志强   男   55  people
119      李春   男   38  people

[120 rows x 4 columns]

In [42]:
f = pd.read_csv('executive.csv',chunksize = 200)
f

In [43]:
# 然后使用for循环去每块每块地去处理（chunk的type是DataFrame）
for i in f:
    print(i)

    name:ID sex  age  :LABEL
0       谢永林   男   50  people
1       胡跃飞   男   56  people
2        刘勇   男   49  people
3       朱季成   男   37  people
4       张丕杰   男   57  people
..      ...  ..  ...     ...
195     钱震斌   男   59  people
196     杨振华   男   54  people
197      周中   男   51  people
198      张曦   男   44  people
199     符冠华   男   55  people

[200 rows x 4 columns]
    name:ID sex  age  :LABEL
200     黄国宏   男   49  people
201      高波   男   44  people
202     罗叶兰   女   41  people
203      张兵   男   47  people
204     王军华   男   57  people
..      ...  ..  ...     ...
395     柯生灿   男   35  people
396     董凤亮   男   46  people
397      王臻   女   38  people
398     李建勇   男   62  people
399     俞敏亮   男   61  people

[200 rows x 4 columns]
    name:ID sex  age  :LABEL
400     徐永模   男   62  people
401     李晋昭   男   56  people
402      徐千   男   56  people
403     邵晓明   男   60  people
404     陶云鹏   男   48  people
..      ...  ..  ...     ...
595     郑洪霞   女   47  people
596     曾文光   男   50  people
597     邵明海   男   52  people
598     田云飞   男   38  people
599     高政权   男   50  people

[200 rows x 4 columns]
    name:ID sex  age  :LABEL
600     倪永培   男   66  people
601     许芸霞   女   29  people
602     张璞临   男   53  people
603     陈德康   男   67  people
604     杨卫新   男   50  people
..      ...  ..  ...     ...
795     余德辉   男   58  people
796     钱文龙   男   65  people
797     林岱仁   男   60  people
798     张兆祥   男   55  people
799     赵淑文   女   50  people

[200 rows x 4 columns]
    name:ID sex  age  :LABEL
800     王春民   男   59  people
801      左敏   男   57  people
802     卢东亮   男   45  people
803     缪进义   男   53  people
804     贺江川   男   53  people
..      ...  ..  ...     ...
995     李全文   男   54  people
996      李刚   男   37  people
997     李高生   男   48  people
998      黄欣   男   56  people
999     李俊喜   男   53  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
1000     邵文林   男   50  people
1001     夏之云   男   56  people
1002     李生希   男   54  people
1003     单志鹏   男   52  people
1004      罗磊   男   51  people
...      ...  ..  ...     ...
1195     颜骏廷   男   55  people
1196      刘实   男   54  people
1197     王仲会   男   55  people
1198     韩铁林   男   60  people
1199      曲奎   男   52  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
1200     刘卫国   男   55  people
1201      王飚   男   50  people
1202     夏文勇   男   46  people
1203     朱文臣   男   52  people
1204     王启瑞   男   53  people
...      ...  ..  ...     ...
1395     朱戟敏   男   55  people
1396     是飞舟   男   50  people
1397     刘体斌   男   55  people
1398     张红伟   男   46  people
1399     宫平强   男   36  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
1400      全凯   男   55  people
1401     虞建红   男   52  people
1402     赵振元   男   63  people
1403     左洪波   男   53  people
1404     俞向前   男   51  people
...      ...  ..  ...     ...
1595     刘彦龙   男   53  people
1596      王民   男   54  people
1597      肖伟   男   59  people
1598      张琲   男   46  people
1599      薛桓   男   51  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
1600      夏宁   男   50  people
1601      吴隼   男   51  people
1602      张鹏   男   45  people
1603     杨光浩   男   46  people
1604     黄长庚   男   53  people
...      ...  ..  ...     ...
1795     刘清涛   男   49  people
1796     王春生   男   54  people
1797     王风斌   男   54  people
1798     郑宗强   男   49  people
1799      吴琼   男   51  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
1800     吴同性   男   54  people
1801      邱新   男   44  people
1802     刘连红   女   52  people
1803      孙启   男   54  people
1804     周建平   男   58  people
...      ...  ..  ...     ...
1995     尹成国   男   53  people
1996     张延红   女   48  people
1997     何中辉   男   55  people
1998     祝瑞荣   男   51  people
1999      康山   男   55  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
2000     陈新生   男   48  people
2001     熊维明   男   57  people
2002     瞿元庆   男   51  people
2003     徐卫晖   男   48  people
2004     孙飘扬   男   60  people
...      ...  ..  ...     ...
2195     陶永泽   男   55  people
2196     张勇峰   男   58  people
2197     何承命   男   58  people
2198     张建功   男   50  people
2199     周黎旸   男   50  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
2200     马志方   男   47  people
2201      王军   男   54  people
2202     黄云晴   男   54  people
2203     李建雄   男   41  people
2204     黄文洲   男   53  people
...      ...  ..  ...     ...
2395     戴厚良   男   54  people
2396      马健   男   54  people
2397     付刚峰   男   52  people
2398     刘先福   男   54  people
2399     吴新华   男   51  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
2400     向文波   男   56  people
2401     杨明辉   男   54  people
2402     谭万庚   男   54  people
2403     凌逸群   男   55  people
2404     赵建国   男   60  people
...      ...  ..  ...     ...
2595     马焕政   男   53  people
2596      吴限   男   50  people
2597      邝青   男   54  people
2598     张金山   男   55  people
2599     贺增林   男   47  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
2600      宋勇   男   55  people
2601     吴学民   男   55  people
2602     邹支农   男   50  people
2603     林建伟   男   52  people
2604     徐德勇   男   41  people
...      ...  ..  ...     ...
2795      胡霞   女   54  people
2796     严学文   男   38  people
2797     张昌楠   男   46  people
2798     孙伟龙   男   50  people
2799      鲍蕾   女   38  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
2800      顾群   男   48  people
2801     胡东群   男   52  people
2802     章文藻   男   61  people
2803     朱汉平   男   55  people
2804      马焰   男   51  people
...      ...  ..  ...     ...
2995     钟百胜   男   53  people
2996     廖定海   男   55  people
2997      张林   男   31  people
2998     戚大广   男   65  people
2999     许文显   男   41  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
3000     郭景松   男   56  people
3001     王政福   男   52  people
3002     付玉霞   女   48  people
3003     段乃琦   女   52  people
3004    欧阳业恒   男   48  people
...      ...  ..  ...     ...
3195     王万春   男   41  people
3196     孙新军   男   48  people
3197     朱永民   男   46  people
3198      陈博   男   50  people
3199     徐长进   男   45  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
3200     李建林   男   62  people
3201     申万秋   男   48  people
3202     郭留希   男   55  people
3203      冯毅   男   53  people
3204     陈添旭   男   56  people
...      ...  ..  ...     ...
3395      李希   男   50  people
3396     张光柳   男   56  people
3397     颜泽松   男   48  people
3398     李尔龙   男   43  people
3399     孙龙龙   男   45  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
3400     靳庆军   男   61  people
3401      王健   男   54  people
3402     王航军   男   52  people
3403     陈新民   男   52  people
3404     肖俊承   男   52  people
...      ...  ..  ...     ...
3595     朱烨东   男   50  people
3596     谢冠宏   男   56  people
3597     李志江   男   61  people
3598     王俊民   男   50  people
3599      王晖   女   47  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
3600     何亚民   男   61  people
3601      杨振   男   56  people
3602      沈飒   女   45  people
3603      郝军   男   46  people
3604     范秀莲   女   55  people
...      ...  ..  ...     ...
3795     朱丽霞   女   37  people
3796     梁桂添   男   52  people
3797      赵刚   男   53  people
3798     祝恩福   男   56  people
3799     陈俊海   男   54  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
3800     孙洁晓   男   51  people
3801      胡敏   男   58  people
3802     韩方如   女   54  people
3803     韩玉辉   男   54  people
3804     叶远璋   男   54  people
...      ...  ..  ...     ...
3995     朱吉满   男   54  people
3996     邱醒亚   男   49  people
3997     郁霞秋   女   55  people
3998     黄河清   男   56  people
3999     柯树泉   男   70  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
4000     阮加春   男   55  people
4001      齐舰   男   58  people
4002     张逸芳   女   55  people
4003     王东绪   男   55  people
4004      陈岚   女   48  people
...      ...  ..  ...     ...
4195     汪培毅   男   65  people
4196     何人宝   男   53  people
4197      刘望   男   31  people
4198      周文   男   53  people
4199     唐继勇   男   50  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
4200     周方洁   男   54  people
4201     曹家富   男   66  people
4202      林健   男   52  people
4203     周宇斌   男   34  people
4204     李郑周   男   45  people
...      ...  ..  ...     ...
4395     邵长南   男   56  people
4396     钱自强   男   33  people
4397     王海波   男   44  people
4398      缪振   男   68  people
4399     杨槐璋   男   60  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
4400      王皓   男   30  people
4401     陈泳洪   男   63  people
4402     曾胜强   男   55  people
4403      张敏   男   57  people
4404     陈于冰   男   41  people
...      ...  ..  ...     ...
4595     陈学华   男   43  people
4596     杨江红   女   47  people
4597     谭秋斌   女   55  people
4598     叶留金   男   53  people
4599      徐磊   男   35  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
4600      鹿超   男   47  people
4601     陶国定   男   55  people
4602      车轼   男   58  people
4603     陈爱莲   女   60  people
4604     孙日贵   男   63  people
...      ...  ..  ...     ...
4795      李凌   男   53  people
4796     李军风   男   52  people
4797     王保玉   男   58  people
4798      马刚   男   39  people
4799      杨勤   男   52  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
4800     周广林   男   56  people
4801     李邦良   男   72  people
4802     李春光   男   50  people
4803     陈锦石   男   56  people
4804     周武平   男   52  people
...      ...  ..  ...     ...
4995     莫翊斌   男   50  people
4996     王永志   男   52  people
4997     周世荣   男   49  people
4998     吴智勇   男   41  people
4999     彭东升   男   56  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
5000     蔡卫东   男   49  people
5001      贾浚   男   48  people
5002     许仕清   男   54  people
5003      张湧   男   51  people
5004     袁汉源   男   56  people
...      ...  ..  ...     ...
5195     季长彬   男   48  people
5196     赵立仁   男   46  people
5197     邹文彬   男   54  people
5198     胡瀚阳   男   35  people
5199     吴斯远   男   54  people

[200 rows x 4 columns]
          name:ID sex  age  :LABEL
5200          王俊伟   男   41  people
5201          杜善津   男   63  people
5202           张雷   男   55  people
5203           孙健   男   41  people
5204          熊贵成   男   44  people
...           ...  ..  ...     ...
5395          朱宜存   男   57  people
5396           何勇   男   58  people
5397  Peter Fleet   男   51  people
5398          陈小松   男   55  people
5399           王勇   男   48  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
5400      赵辉   男   44  people
5401     彭安铮   女   54  people
5402     丁青海   男   54  people
5403     施大福   男   56  people
5404     庄坚毅   男   67  people
...      ...  ..  ...     ...
5595     周宇斌   男   34  people
5596     卢志强   男   66  people
5597      朱军   男   55  people
5598     石正林   男   50  people
5599     姚日波   男   50  people

[200 rows x 4 columns]
     name:ID sex  age  :LABEL
5600     朱胜利   男   48  people
5601      王宏   男   56  people
5602     季圣智   男   32  people
5603     陈创新   男   51  people
5604     李明海   男   52  people
5605     朱梅柱   男   54  people
5606     钟宏伟   男   51  people
5607     谭华森   男   56  people
5608     柏志伟   女   36  people
5609     王宇航   男   57  people
5610      郝亮   男   47  people
5611     李新威   男   53  people
5612     董炳根   男   69  people
5613     李中秋   男   56  people
5614     郑煜曦   男   56  people
5615      陈略   男   48  people
5616     刘凤喜   男   46  people
5617     宿南南   女   34  people
5618     李雪燕   女   44  people
5619     李洪生   男   55  people
5620      丁跃   男   59  people
5621     张光柳   男   56  people
5622     颜泽松   男   48  people
5623     李尔龙   男   43  people
5624     靳庆军   男   61  people
5625      马骧   男   53  people
5626      陈勇   男   48  people
5627     厉怒江   男   57  people
5628      陈琳   女   46  people
5629     刘声向   男   47  people
5630      李中   男   54  people
5631     陈政立   男   58  people
5632     王志全   男   55  people
5633      温毅   男   56  people
5634     阮克竖   男   52  people
5635      王健   男   54  people
5636     王航军   男   52  people
5637     李德友   男   42  people
5638     陈泰泉   男   55  people
5639      钟岩   男   43  people
5640     赵宏伟   男   50  people
5641      丁芃   女   67  people
5642     李林琳   女   34  people
5643     马钟鸿   男   45  people
5644      郁亮   男   53  people
5645     朱新宏   男   58  people
5646      江津   女   55  people
5647     徐文苏   男   41  people
5648     刘志平   女   55  people
5649     林茂德   男   62  people

## NumPy 库
- NumPy 其实就是一个多维的数组（列表）对象
- 每一个数组对象都有 shape方法 和 dtype方法
- shape 属性表示获取到列表的纬度
- dtype 属性表示获取到列表的类型

### 导入NumPy库
- 命令行： pip install numpy
- jupyter: !pip install numpy
- anaconda: 无需

In [44]:
import numpy as np

In [46]:
# 列表的数据类型
data = [1,2,3,4]
data

[1, 2, 3, 4]

In [47]:
# 一个列表对象
n = np.array(data)
n

array([1, 2, 3, 4])

In [48]:
# 查看纬度
n.shape

(4,)

In [49]:
# 查看数据类型
n.dtype

dtype('int64')

In [50]:
# 将 data 重复10次 存入对象
n2 = np.array(data*10)
n2

array([1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2,
       3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [51]:
# 查看n2的shape和dtype
n2.shape

(40,)

In [52]:
n2.dtype

dtype('int64')

### 嵌套序列：由一组等长列表组成的列表

In [55]:
arr = [[1,2,3,4],[5,6,7,8]]
arr2 = np.array(arr)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [56]:
# 查看 arr2 的 shape ndim(纬度) dtype
arr2.shape

(2, 4)

In [57]:
arr2.ndim

2

In [58]:
arr2.dtype

dtype('int64')

### 类型推断：numpy会对数据类型进行一个较为合理的推断

In [60]:
arr = [["1","2",3,4],[5,6,7,8]]
arr2 = np.array(arr)
arr2

array([['1', '2', '3', '4'],
       ['5', '6', '7', '8']], dtype='<U1')

In [61]:
# 查看 dtype
# <u1 unicode类型 字符串
arr2.dtype

dtype('<U1')

In [62]:
arr = [[1,2.2,3,4],[5,6,7,8]]
arr2 = np.array(arr)
arr2

array([[1. , 2.2, 3. , 4. ],
       [5. , 6. , 7. , 8. ]])

In [63]:
# 查看 dtype
# float 浮点数
arr2.dtype

dtype('float64')

### numpy指定长度数组的创建

In [64]:
# 创建长度为10的数组，默认值为0
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [65]:
# 创建长度为10的数组，默认值为1
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [69]:
# 创建2*3的数组，默认值为1
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [70]:
# 创建空数组
# 注意 − 数组元素为随机值，因为它们未初始化。
np.empty(3)

array([0.e+000, 5.e-324, 1.e-323])

### arange 是range函数的数组版本

In [72]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
i = range(10)
type(i)

range

In [74]:
i

range(0, 10)

In [75]:
# 输出一个arange 
# arange = array range
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### 数据类型转换

In [76]:
arr = np.array([1.2,1.6,1.8,-2.3,-5.8])
arr

array([ 1.2,  1.6,  1.8, -2.3, -5.8])

In [78]:
arr.dtype
# float32/float64 双精度浮点数

dtype('float64')

In [79]:
# 转换为 int 
# int32 32位整型占4个字节
# int64 64位整形占8个字节
arr.astype(np.int32)

array([ 1,  1,  1, -2, -5], dtype=int32)

# 下一节 矢量化操作与广播运算