# Python科学运算3:pandas复习与时间戳应用（练习版）
> 请补全单元格

In [1]:
# 导包
import pandas as pd
# 数据读取
df = pd.read_csv('data1.csv')
df.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [2]:
## 检查列名

In [3]:
# 修改列的索引名称为中文
# ['订单编号','车辆编号','用户编号','订单开始时间','起始位置经度','起始位置纬度','订单结束时间','结束位置经度','结束位置纬度','轨迹']

In [4]:
# 按照订单编号排序

In [5]:
# 选取订单编号大于1807840的数据

In [6]:
# 查询 df 的info

In [7]:
# 将订单开始时间数据类型改为 datetime

In [8]:
# 计算骑行最长时间

In [9]:
# 计算骑行平均时间