# Python科学运算4:空值的填充和重复值处理（练习版）

## 填充空值

In [1]:
# 导包
import pandas as pd
import numpy as np

In [2]:
# 初始化
df = pd.DataFrame([[np.nan,2,np.nan,0],
                  [3,4,np.nan,1],
                  [np.nan,np.nan,np.nan,4],
                  [np.nan,3,np.nan,4]],
                 columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  4
3  NaN  3.0 NaN  4

In [3]:
# 填充 NaN 为0

In [4]:
# 向前填充 NaN

In [5]:
# 按照指定的值进行填充

In [6]:
# 按照指定的值进行填充,并限定数量

In [7]:
# 按照指定的值进行填充,并限定数量,并替换原来的值

## 重复值处理

In [8]:
df2 = pd.read_csv('data1.csv')
df2.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [9]:
# 使用duplicated

In [ ]:
# 显示重复值

In [10]:
# subset 就是定义到底什么是重复
# 重复的默认定义是所有列的值必须是一致的
# 我们可以设置subset参数，然后根据固定的列来定义重复

In [11]:
# keep 参数的意思是保留哪个数据
# first 保留第一个
# last 保留最后一个
# False 就是一个都不保留
# 请测试 drop_duplicates

# 下一节：异常值与缺失值的处理