# 用户信息可视化（练习版）

In [1]:
## 导包
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('用户基本信息.csv')
df.head()

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,NaN,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,NaN
3,1670,0,4,2,4,NaN,1,0,NaN
4,2545,0,10,1,4,NaN,3,0,NaN

In [3]:
df.shape

(1048575, 9)

In [4]:
# 设置数据抽取的大小

In [5]:
# 检查是否抽取成功

In [6]:
# 查看shopping_level 一共有多少个等级

In [7]:
# 查看这三个购物等级各自占比的情况

In [9]:
# 解决中文显示问题
# 并绘制图片